<h1>Welcome <%= @merchant.name %> employee</h1>
<h2>Street Address: <%= @merchant.address %></h2>
<h2>City: <%= @merchant.city %></h2>
<h2>State: <%= @merchant.state %></h2>
<h2>Zip: <%= @merchant.zip %></h2>
