<h2>Order: <%=@order.id%></h2>
<ul>
  <li>Date order was created: <%=@order.created_at %></li>
  <li>Date order was updated: <%=@order.updated_at %></li>
  <li>Order status: <%=@order.status %></li>
  <li>Date order was created: <%=@order.created_at %></li>
  <li>Date order was created: <%=@order.created_at %></li>
  <li>Date order was created: <%=@order.created_at %></li>
  <li>Items: <% @order.items.each do |item|%></li>
    <li>Item name: <%= item.name %></li>
    <li>Description: <%= item.description %></li>
    <li>Image: <%= item.image %></li>
    <li>Quantity: <%= item.item_orders.first.quantity %></li>
    <li>Price: <%= item.price %></li>
    <li>Subtotal: <%=item.item_orders.first.subtotal%></li>
    <% end %>
</ul>
