<%= form_tag "/profile/password", method: :patch do %>
<section>

  <%= label_tag "Password: " %>
  <%= text_field_tag :password %>
  <%= label_tag "Confirm Password: " %>
  <%= text_field_tag :password_confirmation %>
  <%= submit_tag 'Save Password', class: :button %>
</section>
<% end %>
