<%= form_tag "/profile", method: :patch do %>
  <section>
    <%= label_tag "Name: " %>
    <%= text_field_tag :name, current_user.name %>
    <%= label_tag "Street Address: " %>
    <%= text_field_tag :street_address, current_user.street_address %>
    <%= label_tag "City: " %>
    <%= text_field_tag :city, current_user.city %>
    <%= label_tag "State: " %>
    <%= text_field_tag :state, current_user.state %>
    <%= label_tag "Zip Code: " %>
    <%= text_field_tag :zip, current_user.zip %>
    <%= label_tag "Email Address: " %>
    <%= text_field_tag :email, current_user.email %>
    <%= hidden_field_tag :password, current_user.password_digest %>

    <%= submit_tag 'Submit Changes', class: :button %>
  </section>
<% end %>
