<h1>Welcome To Your Page: <%= current_user.name %></h1>

<h3><ul>
    <%= current_user.name %><br>
    <%= current_user.street_address %><br>
    <%= current_user.city %><br>
    <%= current_user.state %><br>
    <%= current_user.zip %><br>
    <%= current_user.email %><br>
    <%= link_to "Edit My Info", "/profile/edit" %><br>
    <%= link_to "Edit My Password", "/profile/password" %><br>
    <%= link_to "My Orders", "/profile/orders" %><br>

</ul></h3>

