<h1>Items for <%= current_user.merchant.name %></h1>
  <% current_user.merchant.items.each do |item| %>
  <section id="item-<%= item.id %>">
  <p>Item Name: <%= item.name %></p>
  <p>Item Description: <%= item.description %></p>
  <p>Item Price: <%= item.price %></p>
  <p>Item Image: <%= item.image %></p>
  <p>Item Inventory: <%= item.inventory %></p>
  <p>Item Active (True/False): <%= item.active? %></p>
  <p><% if !item.active? %>
    <%= link_to 'Activate', "/merchant/items/#{item.id}/enable", method: :patch %>
  <% else %>
    <%= link_to 'Deactivate', "/merchant/items/#{item.id}/disable", method: :patch %>
  <% end %></p>
  <%= link_to 'Delete', "/merchant/items/#{item.id}/destroy", method: :delete %>
  <%= link_to 'Edit', "/merchant/items/#{item.id}/edit", method: :get %>
  </section>
  <% end %>

<%= link_to "Add New Item", "/merchant/items/new" %>
